<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--SysCommonCode - Common Code-->
    <bean class="${name.package.project}.app.sys.sysBasicInfo.sysCommonCode.SysCommonCodeAction" id="sysCommonCodeAction" name="sysCommonCodeAction"/>
    <bean class="${name.package.project}.app.sys.sysBasicInfo.sysCommonCode.SysCommonCodeBizImpl" id="sysCommonCodeBiz" name="sysCommonCodeBiz" parent="baseBiz"/>
    <!--SysCountryCurrency - Country / Currency-->
    <bean class="${name.package.project}.app.sys.sysBasicInfo.sysCountryCurrency.SysCountryCurrencyAction" id="sysCountryCurrencyAction" name="sysCountryCurrencyAction"/>
    <bean class="${name.package.project}.app.sys.sysBasicInfo.sysCountryCurrency.SysCountryCurrencyBizImpl" id="sysCountryCurrencyBiz" name="sysCountryCurrencyBiz" parent="baseBiz"/>
    <!--SysMenu - Menu-->
    <bean class="${name.package.project}.app.sys.sysAdmin.sysMenu.SysMenuAction" id="sysMenuAction" name="sysMenuAction"/>
    <bean class="${name.package.project}.app.sys.sysAdmin.sysMenu.SysMenuBizImpl" id="sysMenuBiz" name="sysMenuBiz" parent="baseBiz"/>
    <!--SysAuthGroup - Authority Group-->
    <bean class="${name.package.project}.app.sys.sysAdmin.sysAuthGroup.SysAuthGroupAction" id="sysAuthGroupAction" name="sysAuthGroupAction"/>
    <bean class="${name.package.project}.app.sys.sysAdmin.sysAuthGroup.SysAuthGroupBizImpl" id="sysAuthGroupBiz" name="sysAuthGroupBiz" parent="baseBiz"/>
    <!--Sys0408 - Menu - Authority Group-->
    <bean class="${name.package.project}.app.sys.sys0408.Sys0408Action" id="sys0408Action" name="sys0408Action"/>
    <bean class="${name.package.project}.app.sys.sys0408.Sys0408BizImpl" id="sys0408Biz" name="sys0408Biz" parent="baseBiz"/>
    <!--Sys9902 - Annoucement-->
    <bean class="${name.package.project}.app.sys.sys9902.Sys9902Action" id="sys9902Action" name="sys9902Action"/>
    <bean class="${name.package.project}.app.sys.sys9902.Sys9902BizImpl" id="sys9902Biz" name="sys9902Biz" parent="baseBiz"/>
    <!--Sys9904 - Free Board-->
    <bean class="${name.package.project}.app.sys.sys9904.Sys9904Action" id="sys9904Action" name="sys9904Action"/>
    <bean class="${name.package.project}.app.sys.sys9904.Sys9904BizImpl" id="sys9904Biz" name="sys9904Biz" parent="baseBiz"/>
    <!--Sys0406 - User-->
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406Action" id="sys0406Action" name="sys0406Action"/>
    <bean class="${name.package.project}.app.sys.sys0406.Sys0406BizImpl" id="sys0406Biz" name="sys0406Biz" parent="baseBiz"/>
    <!--Sys9804 - Invoice-->
    <bean class="${name.package.project}.app.sys.sys9804.Sys9804Action" id="sys9804Action" name="sys9804Action"/>
    <bean class="${name.package.project}.app.sys.sys9804.Sys9804BizImpl" id="sys9804Biz" name="sys9804Biz" parent="baseBiz"/>
    <!--Sys9802 - Assignment-->
    <bean class="${name.package.project}.app.sys.sys9802.Sys9802Action" id="sys9802Action" name="sys9802Action"/>
    <bean class="${name.package.project}.app.sys.sys9802.Sys9802BizImpl" id="sys9802Biz" name="sys9802Biz" parent="baseBiz"/>
    <!--Sys9806 - ETC-->
    <bean class="${name.package.project}.app.sys.sys9806.Sys9806Action" id="sys9806Action" name="sys9806Action"/>
    <bean class="${name.package.project}.app.sys.sys9806.Sys9806BizImpl" id="sys9806Biz" name="sys9806Biz" parent="baseBiz"/>
    <!--Sys9898 - Monitor Databse Session-->
    <bean class="${name.package.project}.app.sys.sys9898.Sys9898Action" id="sys9898Action" name="sys9898Action"/>
    <bean class="${name.package.project}.app.sys.sys9898.Sys9898BizImpl" id="sys9898Biz" name="sys9898Biz" parent="baseBiz"/>
    <!--Sys9899 - Site Running Test-->
    <bean class="${name.package.project}.app.sys.sys9899.Sys9899Action" id="sys9899Action" name="sys9899Action"/>
    <bean class="${name.package.project}.app.sys.sys9899.Sys9899BizImpl" id="sys9899Biz" name="sys9899Biz" parent="baseBiz"/>
    <!--Sys9808 - PERCI Source Generator-->
    <bean class="${name.package.project}.app.sys.sys9808.Sys9808Action" id="sys9808Action" name="sys9808Action"/>
    <bean class="${name.package.project}.app.sys.sys9808.Sys9808BizImpl" id="sys9808Biz" name="sys9808Biz" parent="baseBiz"/>
    <!--SysMenuAuth - Menu Authority Group-->
    <bean class="${name.package.project}.app.sys.sysAdmin.sysMenuAuth.SysMenuAuthAction" id="sysMenuAuthAction" name="sysMenuAuthAction"/>
    <bean class="${name.package.project}.app.sys.sysAdmin.sysMenuAuth.SysMenuAuthBizImpl" id="sysMenuAuthBiz" name="sysMenuAuthBiz" parent="baseBiz"/>
</beans>
