<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Tms0202 - -->
    <bean class="${name.package.project}.app.tms.tms0202.Tms0202Action" id="tms0202Action" name="tms0202Action"/>
    <bean class="${name.package.project}.app.tms.tms0202.Tms0202BizImpl" id="tms0202Biz" name="tms0202Biz" parent="baseBiz"/>
    <!--Tms0204 - -->
    <bean class="${name.package.project}.app.tms.tms0204.Tms0204Action" id="tms0204Action" name="tms0204Action"/>
    <bean class="${name.package.project}.app.tms.tms0204.Tms0204BizImpl" id="tms0204Biz" name="tms0204Biz" parent="baseBiz"/>
    <!--Tms0206 - -->
    <bean class="${name.package.project}.app.tms.tms0206.Tms0206Action" id="tms0206Action" name="tms0206Action"/>
    <bean class="${name.package.project}.app.tms.tms0206.Tms0206BizImpl" id="tms0206Biz" name="tms0206Biz" parent="baseBiz"/>
</beans>
