<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--/* Assignment Biz Service Module */-->
	<bean id="assignmentBS" name="assignmentBS" class="${name.package.project}.common.module.bizservice.assignment.AssignmentBizServiceImpl" parent="baseBiz"/>
	<!--/* Invoice Biz Service Module */-->
	<bean id="invoiceBS" name="invoiceBS" class="${name.package.project}.common.module.bizservice.invoice.InvoiceBizServiceImpl" parent="baseBiz"/>
	<!--/* Workcover Biz Service Module */-->
	<bean id="workcoverBS" name="workcoverBS" class="${name.package.project}.common.module.bizservice.workcover.WorkcoverBizServiceImpl" parent="baseBiz"/>
	<!--/* Payment Biz Service Module */-->
	<bean id="paymentBS" name="paymentBS" class="${name.package.project}.common.module.bizservice.payment.PaymentBizServiceImpl" parent="baseBiz"/>
</beans>