<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Inv0202 - Template Setup-->
    <bean class="${name.package.project}.app.inv.inv0202.Inv0202Action" id="inv0202Action" name="inv0202Action"/>
    <bean class="${name.package.project}.app.inv.inv0202.Inv0202BizImpl" id="inv0202Biz" name="inv0202Biz" parent="baseBiz"/>
    <!--Inv0402 - WS Notification-->
    <bean class="${name.package.project}.app.inv.inv0402.Inv0402Action" id="inv0402Action" name="inv0402Action"/>
    <bean class="${name.package.project}.app.inv.inv0402.Inv0402BizImpl" id="inv0402Biz" name="inv0402Biz" parent="baseBiz"/>
    <!--Inv0404 - Create Bulk Invoice-->
    <bean class="${name.package.project}.app.inv.inv0404.Inv0404Action" id="inv0404Action" name="inv0404Action"/>
    <bean class="${name.package.project}.app.inv.inv0404.Inv0404BizImpl" id="inv0404Biz" name="inv0404Biz" parent="baseBiz"/>
    <!--Inv0406 - Open Invoice-->
    <bean class="${name.package.project}.app.inv.inv0406.Inv0406Action" id="inv0406Action" name="inv0406Action"/>
    <bean class="${name.package.project}.app.inv.inv0406.Inv0406BizImpl" id="inv0406Biz" name="inv0406Biz" parent="baseBiz"/>
    <!--Inv0408 - Auto Generation-->
    <bean class="${name.package.project}.app.inv.inv0408.Inv0408Action" id="inv0408Action" name="inv0408Action"/>
    <bean class="${name.package.project}.app.inv.inv0408.Inv0408BizImpl" id="inv0408Biz" name="inv0408Biz" parent="baseBiz"/>
    <!--Inv0410 - Customer Cash Receipt-->
    <bean class="${name.package.project}.app.inv.inv0410.Inv0410Action" id="inv0410Action" name="inv0410Action"/>
    <bean class="${name.package.project}.app.inv.inv0410.Inv0410BizImpl" id="inv0410Biz" name="inv0410Biz" parent="baseBiz"/>
</beans>
