<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Org0202 - Organisation Profile-->
    <bean class="${name.package.project}.app.org.org0202.Org0202Action" id="org0202Action" name="org0202Action"/>
    <bean class="${name.package.project}.app.org.org0202.Org0202BizImpl" id="org0202Biz" name="org0202Biz" parent="baseBiz"/>
</beans>
