<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--Pay0202 - -->
    <bean class="${name.package.project}.app.pay.pay0202.Pay0202Action" id="pay0202Action" name="pay0202Action"/>
    <bean class="${name.package.project}.app.pay.pay0202.Pay0202BizImpl" id="pay0202Biz" name="pay0202Biz" parent="baseBiz"/>
    <!--Pay0204 - -->
    <bean class="${name.package.project}.app.pay.pay0204.Pay0204Action" id="pay0204Action" name="pay0204Action"/>
    <bean class="${name.package.project}.app.pay.pay0204.Pay0204BizImpl" id="pay0204Biz" name="pay0204Biz" parent="baseBiz"/>
    <!--Pay0206 - -->
    <bean class="${name.package.project}.app.pay.pay0206.Pay0206Action" id="pay0206Action" name="pay0206Action"/>
    <bean class="${name.package.project}.app.pay.pay0206.Pay0206BizImpl" id="pay0206Biz" name="pay0206Biz" parent="baseBiz"/>
    <!--Pay0208 - -->
    <bean class="${name.package.project}.app.pay.pay0208.Pay0208Action" id="pay0208Action" name="pay0208Action"/>
    <bean class="${name.package.project}.app.pay.pay0208.Pay0208BizImpl" id="pay0208Biz" name="pay0208Biz" parent="baseBiz"/>
    <!--Pay0210 - -->
    <bean class="${name.package.project}.app.pay.pay0210.Pay0210Action" id="pay0210Action" name="pay0210Action"/>
    <bean class="${name.package.project}.app.pay.pay0210.Pay0210BizImpl" id="pay0210Biz" name="pay0210Biz" parent="baseBiz"/>
    <!--Pay0212 - -->
    <bean class="${name.package.project}.app.pay.pay0212.Pay0212Action" id="pay0212Action" name="pay0212Action"/>
    <bean class="${name.package.project}.app.pay.pay0212.Pay0212BizImpl" id="pay0212Biz" name="pay0212Biz" parent="baseBiz"/>
    <!--Pay0214 - -->
    <bean class="${name.package.project}.app.pay.pay0214.Pay0214Action" id="pay0214Action" name="pay0214Action"/>
    <bean class="${name.package.project}.app.pay.pay0214.Pay0214BizImpl" id="pay0214Biz" name="pay0214Biz" parent="baseBiz"/>
    <!--Pay0216 - -->
    <bean class="${name.package.project}.app.pay.pay0216.Pay0216Action" id="pay0216Action" name="pay0216Action"/>
    <bean class="${name.package.project}.app.pay.pay0216.Pay0216BizImpl" id="pay0216Biz" name="pay0216Biz" parent="baseBiz"/>
    <!--Pay0218 - -->
    <bean class="${name.package.project}.app.pay.pay0218.Pay0218Action" id="pay0218Action" name="pay0218Action"/>
    <bean class="${name.package.project}.app.pay.pay0218.Pay0218BizImpl" id="pay0218Biz" name="pay0218Biz" parent="baseBiz"/>
    <!--Pay0220 - -->
    <bean class="${name.package.project}.app.pay.pay0220.Pay0220Action" id="pay0220Action" name="pay0220Action"/>
    <bean class="${name.package.project}.app.pay.pay0220.Pay0220BizImpl" id="pay0220Biz" name="pay0220Biz" parent="baseBiz"/>
    <!--Pay0402 - -->
    <bean class="${name.package.project}.app.pay.pay0402.Pay0402Action" id="pay0402Action" name="pay0402Action"/>
    <bean class="${name.package.project}.app.pay.pay0402.Pay0402BizImpl" id="pay0402Biz" name="pay0402Biz" parent="baseBiz"/>
    <!--Pay0404 - -->
    <bean class="${name.package.project}.app.pay.pay0404.Pay0404Action" id="pay0404Action" name="pay0404Action"/>
    <bean class="${name.package.project}.app.pay.pay0404.Pay0404BizImpl" id="pay0404Biz" name="pay0404Biz" parent="baseBiz"/>
    <!--Pay0406 - -->
    <bean class="${name.package.project}.app.pay.pay0406.Pay0406Action" id="pay0406Action" name="pay0406Action"/>
    <bean class="${name.package.project}.app.pay.pay0406.Pay0406BizImpl" id="pay0406Biz" name="pay0406Biz" parent="baseBiz"/>
    <!--Pay0408 - -->
    <bean class="${name.package.project}.app.pay.pay0408.Pay0408Action" id="pay0408Action" name="pay0408Action"/>
    <bean class="${name.package.project}.app.pay.pay0408.Pay0408BizImpl" id="pay0408Biz" name="pay0408Biz" parent="baseBiz"/>
    <!--Pay0410 - -->
    <bean class="${name.package.project}.app.pay.pay0410.Pay0410Action" id="pay0410Action" name="pay0410Action"/>
    <bean class="${name.package.project}.app.pay.pay0410.Pay0410BizImpl" id="pay0410Biz" name="pay0410Biz" parent="baseBiz"/>
    <!--Pay0602 - -->
    <bean class="${name.package.project}.app.pay.pay0602.Pay0602Action" id="pay0602Action" name="pay0602Action"/>
    <bean class="${name.package.project}.app.pay.pay0602.Pay0602BizImpl" id="pay0602Biz" name="pay0602Biz" parent="baseBiz"/>
    <!--Pay0802 - -->
    <bean class="${name.package.project}.app.pay.pay0802.Pay0802Action" id="pay0802Action" name="pay0802Action"/>
    <bean class="${name.package.project}.app.pay.pay0802.Pay0802BizImpl" id="pay0802Biz" name="pay0802Biz" parent="baseBiz"/>
    <!--Pay0804 - -->
    <bean class="${name.package.project}.app.pay.pay0804.Pay0804Action" id="pay0804Action" name="pay0804Action"/>
    <bean class="${name.package.project}.app.pay.pay0804.Pay0804BizImpl" id="pay0804Biz" name="pay0804Biz" parent="baseBiz"/>
    <!--Pay0806 - -->
    <bean class="${name.package.project}.app.pay.pay0806.Pay0806Action" id="pay0806Action" name="pay0806Action"/>
    <bean class="${name.package.project}.app.pay.pay0806.Pay0806BizImpl" id="pay0806Biz" name="pay0806Biz" parent="baseBiz"/>
    <!--Pay0808 - -->
    <bean class="${name.package.project}.app.pay.pay0808.Pay0808Action" id="pay0808Action" name="pay0808Action"/>
    <bean class="${name.package.project}.app.pay.pay0808.Pay0808BizImpl" id="pay0808Biz" name="pay0808Biz" parent="baseBiz"/>
    <!--Pay0810 - -->
    <bean class="${name.package.project}.app.pay.pay0810.Pay0810Action" id="pay0810Action" name="pay0810Action"/>
    <bean class="${name.package.project}.app.pay.pay0810.Pay0810BizImpl" id="pay0810Biz" name="pay0810Biz" parent="baseBiz"/>
    <!--Pay0812 - -->
    <bean class="${name.package.project}.app.pay.pay0812.Pay0812Action" id="pay0812Action" name="pay0812Action"/>
    <bean class="${name.package.project}.app.pay.pay0812.Pay0812BizImpl" id="pay0812Biz" name="pay0812Biz" parent="baseBiz"/>
    <!--Pay0814 - -->
    <bean class="${name.package.project}.app.pay.pay0814.Pay0814Action" id="pay0814Action" name="pay0814Action"/>
    <bean class="${name.package.project}.app.pay.pay0814.Pay0814BizImpl" id="pay0814Biz" name="pay0814Biz" parent="baseBiz"/>
    <!--Pay1002 - -->
    <bean class="${name.package.project}.app.pay.pay1002.Pay1002Action" id="pay1002Action" name="pay1002Action"/>
    <bean class="${name.package.project}.app.pay.pay1002.Pay1002BizImpl" id="pay1002Biz" name="pay1002Biz" parent="baseBiz"/>
    <!--Pay1004 - -->
    <bean class="${name.package.project}.app.pay.pay1004.Pay1004Action" id="pay1004Action" name="pay1004Action"/>
    <bean class="${name.package.project}.app.pay.pay1004.Pay1004BizImpl" id="pay1004Biz" name="pay1004Biz" parent="baseBiz"/>
    <!--Pay1006 - -->
    <bean class="${name.package.project}.app.pay.pay1006.Pay1006Action" id="pay1006Action" name="pay1006Action"/>
    <bean class="${name.package.project}.app.pay.pay1006.Pay1006BizImpl" id="pay1006Biz" name="pay1006Biz" parent="baseBiz"/>
    <!--Pay1202 - -->
    <bean class="${name.package.project}.app.pay.pay1202.Pay1202Action" id="pay1202Action" name="pay1202Action"/>
    <bean class="${name.package.project}.app.pay.pay1202.Pay1202BizImpl" id="pay1202Biz" name="pay1202Biz" parent="baseBiz"/>
    <!--Pay1204 - -->
    <bean class="${name.package.project}.app.pay.pay1204.Pay1204Action" id="pay1204Action" name="pay1204Action"/>
    <bean class="${name.package.project}.app.pay.pay1204.Pay1204BizImpl" id="pay1204Biz" name="pay1204Biz" parent="baseBiz"/>
    <!--Pay1206 - -->
    <bean class="${name.package.project}.app.pay.pay1206.Pay1206Action" id="pay1206Action" name="pay1206Action"/>
    <bean class="${name.package.project}.app.pay.pay1206.Pay1206BizImpl" id="pay1206Biz" name="pay1206Biz" parent="baseBiz"/>
</beans>
