/**************************************************************************************************
* Body Left CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Body Left Common
 */
#divBodyLeft {overflow:auto;
	border-top:0px solid #C5DBEC;
	border-right:1px solid #C5DBEC;
	border-bottom:0px solid #C5DBEC;
	border-left:0px solid #C5DBEC;
	background:#FFFFFF;
}
#divBodyLeftMenuPanel {}

/**
 * Left menu header
 */
#divLeftMenuHeader {margin-top:0px;padding:14px 12px;text-transform:uppercase;font-size:1.0em;font-weight:bold;cursor:default;outline:0px;box-shadow:0px 1px 2px rgba(197, 219, 236, .3);
	color:#2E6E9E;
	text-shadow:1px 1px 2px rgba(0, 0, 0, .1);
	border-radius:0px;
	border:0px;
	border-bottom:1px solid #C5DBEC;
}
#divLeftMenuHeader:hover {
/* 	background-color:#ffffff; */
}
#divLeftMenuHeader a {padding-left:24px;opacity:0.9;cursor:default;color:#000000;text-decoration:none;}
#divLeftMenuHeader a:hover {
}

/**
 * Left menu items
 */
#divLeftMenu {margin-top:1px;padding:0px 0px;border-radius:0px;font-size:1.0em;box-shadow:0px 0px 0px rgba(197, 219, 236, .3);
	text-shadow:1px 1px 2px rgba(255, 255, 255, 1.0);
	border:0px;
	background:#EAF5FE;
}
.leftMenus {padding:10px 10px 10px 16px;cursor:pointer;list-style:none;transition:background .2s;font-weight:bold;
	color:#2E6E9E;
	border-bottom:1px solid #C5DBEC;
}
.leftMenus:hover, .leftMenus:link, .leftMenus:visited {
	color:#E17009;
	background-color:#F4FBFF;
}
.leftMenus:active {
	color:#E17009;
	background-color:#F4FBFF;
}
.leftMenusSelected {padding:10px 10px 10px 16px;cursor:pointer;list-style:none;transition:background .2s;font-weight:bold;
	color:#E17009;
	border-bottom:1px solid #C5DBEC;
	background-color:#F4FBFF;
}
.leftMenusSelected:hover, .leftMenusSelected:link, .leftMenusSelected:visited {
/* 	background-color:#F4FBFF; */
}
.leftMenusSelected:active {
/* 	background-color:#FFFFFF; */
}

/**
 * Left Menu Accordion - Project Left Menus(Level2 and Level3)
 */
.leftMenuAccordionHolder {}
.leftMenuAccordionGroup {}
.leftMenuAccordionGroup h3 {border-radius:0px;border:1px solid transparent;padding:12px 4px 12px 36px !important;box-shadow:0px 1px 4px rgba(0, 0, 0, .1);text-shadow:1px 1px 2px rgba(255, 255, 255, 1.0);outline:0px;
	color:#2E6E9E;
	border-bottom:1px solid #C5DBEC;
	background-color:#F9F9F9 !important;
}
.leftMenuAccordionGroup h3.selected {
	color:#E17009;
	background-color:#F4FBFF !important;
}
.leftMenuAccordionGroup h3:hover {
	color:#E17009;
	background-color:#F4FBFF !important;
}
.leftMenuAccordionContents {border-radius:0px;border:0px;margin-bottom:0px !important;padding:0px 0px !important;
}
.leftMenuAccordionContents .leftMenus {padding:10px 10px 10px 18px;
	background-color:#FFFFFF;
}
.leftMenuAccordionContents .leftMenus:hover {
	background-color:#F4FBFF;
}