/**************************************************************************************************
* Header CSS
**************************************************************************************************/
@charset "utf-8";

/**
 * Header Layout
 */
#divHeaderLeft {float:left;width:0%;display:none;}
#divHeaderRight {float:right;width:0%;display:none;}
#divHeaderCenter {float:left;width:100%;
	color:#FFFFFF;
	border-top:0px solid #CCCCCC;
	border-right:0px solid #CCCCCC;
	border-bottom:0px solid #CCCCCC;
	border-left:0px solid #CCCCCC;
}

/**
 * Layout - Header Center
 */
#divGlobalMenuHeaderGroup {
	padding:12px 8px 12px 8px;
	background:#191919;
}
#divGlobalMenuHeaderGroup:after {content:"";display:block;line-height:0px;clear:both;}

#divMainMenuHeaderGroup {
	background:#E6E6E6;
}
#divMainMenuHeaderGroup:after {content:"";display:block;line-height:0px;clear:both;}

/**
 * Global Menu Layout
 */
#divGlobalMenuLeft {float:left;}
#divGlobalMenuRight {float:right;}
#divGlobalMenuRight div {float:left;}

/**
 * Global Menu - Left(Logo)
 */
#divLogoArea {font-size:1.0em;font-weight:bold;cursor:pointer;text-shadow:1px 1px 2px rgba(255, 255, 255, 0.2);}
#divLogoArea a, #divLogoArea a:link, #divLogoArea a:visited {text-decoration:none;
	color:#FFFFFF;
}
#divLogoArea a:hover {text-decoration:none;
	color:#FFE633;
}
#aLogoFramework {padding:6px 0px 6px 24px;
	font-size:0.9em;
	background:url('/shared/resource/image/icon/logo-gear_White.png') no-repeat 0% 50%;
}
#aLogo {padding:7px 0px 6px 60px;
	background:url('/shared/resource/image/theme/theme001/common/logoPerci.png') no-repeat 0% 0%;
	background-size:54px 27px;
}

/**
 * Global Menu - Right(Global menu items)
 */
#divGblMenuAreaFramework {margin-top:0px;}
#divGblMenuArea {}
.headerGblMenus {float:right;font-size:0.9em;font-weight:bold;cursor:pointer;text-shadow:1px 1px 2px rgba(255, 255, 255, 0.2);
	color:#FFFFFF;
}
.headerGblMenus a, .headerGblMenus a:link, .headerGblMenus a:visited {text-decoration:none;
	color:#FFFFFF;
}
.headerGblMenus a:hover {text-decoration:none;
	color:#FFE633;
}
.divGblMenuBreak {margin:0px 10px;float:right;height:12px;font-size:1px;
	border-left:4px solid #FFFFFF;
	background-color:#ffffff;
}
#aThemeSelector {padding:6px 0px 6px 20px;
	background:url('/shared/resource/image/icon/themeSelector.png') no-repeat 0% 50%;
}
#aFrameworkMenu {padding:6px 0px 6px 20px;
	background:url('/shared/resource/image/icon/frameworkMenu.png') no-repeat 0% 50%;
}

/**
 * Main menu Layout
 */
#divMainMenuAreaLeft {float:left;}
#divMainMenuAreaRight {float:right;display:inline-block;text-align:right;}

/**
 * Main menu - Left - Menu items(ul)
 */
.headerMainMenus {float:left;display:inline-block;padding:12px 18px;transition:background .2s;cursor:pointer;font-size:1.1em;
	border-right:1px solid #191919;
	background:#EEEEEE;
}
.headerMainMenus:hover {
	background:#F9F9F9;
}
.headerMainMenusSelected {float:left;display:inline-block;padding:12px 18px;transition:background .2s;cursor:pointer;font-size:1.1em;
	border-right:1px solid #191919;
	background:#F9F9F9;
}
.headerMainMenus a, .headerMainMenus a:hover, .headerMainMenus a:link, .headerMainMenus a:visited,
.headerMainMenusSelected a, .headerMainMenusSelected a:hover, .headerMainMenusSelected a:link, .headerMainMenusSelected a:visited {padding:0px 0px 1px 25px;text-decoration:none;font-weight:bold;
	color:#000000;
}
/**
 * Main menu - Right - User loggedin(ul)
 */
#divLoggedInUser, #divQuickMenu, #divFavoriteMenu {float:left;
	border-left:1px solid #191919;
	border-right:0px solid #191919;
}
#aLoggedInUser {
	background:url('/shared/resource/image/theme/theme001/common/icnUser-loggedIn_Black.png') no-repeat 0px 0px
}
#divLoggedInUser.selected, #divQuickMenu.selected, #divFavoriteMenu.selected {
	background-color:#FFFFFF;
}