/**************************************************************************************************
* Popup window CSS (used by $.nony.popup)
**************************************************************************************************/
@charset "utf-8";

/**
 * Common
 */
.shadowForDivNonyPopupBase {box-shadow:0px 0px 20px rgba(0, 0, 0, .4);}

/**
 * Layout of popup window iframe
 */
#divPopupWindowHolder {}
#divFixedPanelPopup{}
#divScrollablePanelPopup{overflow:auto;}

.iframeInPopup {padding:0px 0px;width:100%;height:100%;}

/**
 * popup window
 */
.nonyPopWinBase {padding:3px 3px;position:absolute;z-index:1000;border-radius:6px;
	border:2px solid #8E846C;
	background-color:#f5f5f5;
}
.nonyPopWinWindowHolder {width:100%;height:100%;border-radius:5px;background-color:#FFFFFF;}
.nonyPopWinHeaderHolder {padding:10px 8px;transition:background .2s;border-top-left-radius:5px;border-top-right-radius:5px;
	color:#4c3000;
	border:1px solid #A45B13;
	background:#FECE2F url("/shared/resource/css/jquery-ui/theme005/images/ui-bg_gloss-wave_60_fece2f_500x100.png") 50% 50% repeat-x;
}
.nonyPopWinHeaderHolder:hover {
	color:#381f00;
	border:1px solid #A45B13;
	background:#FFDD57 url("/shared/resource/css/jquery-ui/theme005/images/ui-bg_gloss-wave_70_ffdd57_500x100.png") 50% 50% repeat-x;
}
.nonyPopWinHeaderTitle {font-weight:bold;background:transparent;}
.nonyPopWinHeaderCloseButton {position:absolute;top:13px;right:12px;}
.nonyPopWinHeaderCloseButton:after {content:"";line-height:0px;clear:both;}
.nonyPopWinHeaderBreaker {height:2px;clear:both;
	background:#f5f5f5;
}
.nonyPopWinBody {border-bottom-left-radius:5px;border-bottom-right-radius:5px;
	border:1px solid #8E846C;
}
.nonyPopWinFooter {text-align:center;margin:0px auto;clear:both;padding:2px 3px 0px 3px;overflow:hidden;height:auto;
	border-top:1px solid #8E846C;
	background:#FFFFFF;
}

/**
 * Dialog window
 */
.nonyDialogBase {padding:0px 0px;position:absolute;z-index:1000;border-radius:6px;
	border:1px solid #8E846C;
	background-color:#f5f5f5;
}
.nonyDialogWindowHolder {width:100%;height:100%;border-radius:5px;background-color:#FFFFFF;}
.nonyDialogHeaderHolder {padding:10px 8px;transition:background .2s;border-top-left-radius:5px;border-top-right-radius:5px;
	color:#4c3000;
	border:0px solid #A45B13;
	background:#FECE2F url("/shared/resource/css/jquery-ui/theme005/images/ui-bg_gloss-wave_60_fece2f_500x100.png") 50% 50% repeat-x;
}
.nonyDialogHeaderHolder:hover {
	color:#381f00;
	border:0px solid #A45B13;
	background:#FFDD57 url("/shared/resource/css/jquery-ui/theme005/images/ui-bg_gloss-wave_70_ffdd57_500x100.png") 50% 50% repeat-x;
}
.nonyDialogHeaderTitle {font-weight:bold;background:transparent;}
.nonyDialogHeaderCloseButton {position:absolute;top:10px;right:10px;}
.nonyDialogHeaderCloseButton:after {content:"";line-height:0px;clear:both;}
.nonyDialogHeaderBreaker {height:0px;clear:both;
	border-bottom:1px solid #8E846C;
	background:#f5f5f5;
}
.nonyDialogBody {border-bottom-left-radius:5px;border-bottom-right-radius:5px;
	border:0px solid #8E846C;
}
.nonyDialogFooter {text-align:center;margin:0px auto;clear:both;padding:6px 4px;overflow:hidden;height:auto;
	border-top:1px solid #8E846C;
	background:#FFFFFF;
}